h1 {
  color: rgb(196, 45, 70);
  font-style: Georgia;
  text-align: center; 
}

img {
  border: 6px solid black; 
}

.box { 
  margin: 30px;  
}

body {
    align-items: center;
    margin: auto;
    width: 85%;
  }