h1 {
  color: whitesmoke;
  font-style: Georgia;
  text-align: center; 
}

img {
  border: 6px solid #e73434; 
}

.box { 
  margin: 30px;  
}

body {
    align-items: center;
    margin: auto;
    width: 85%;
    background-color: rgb(209, 103, 120)
  }