h1 {
  color: whitesmoke;
  font-style: Georgia;
  text-align: center; 
}

img {
  border: 6px solid #e73434; 
}

.box { 
  margin: 30px;  
}

body {
  align-items: center;
  background-color: rgb(209, 103, 120);
  width: 100%;
  height: 100%;
}

.master {
  margin: auto;
  width: 85%;
}

img {
  max-width: 100%;
}

#output {
  border: 6px solid #e73434;
  margin: 30px;  
  background-color: pink
}